body {
	background-color: #4f4f4f;
}

h1 {
	display: flex;
	justify-content: center;
	font-family: arial;
	color: white;
}

#main{
	display: table;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: hsl(44, 0%, 17%);
    border-radius: 15px;
    box-shadow:  20px 20px 60px #434343, 
             -20px -20px 60px #5b5b5b;
}

.taille {
	height: 300px;
	width: 285px;

}

table {
	height: 100px;
}

tr {
	display: table;
	
}

button {
	margin-left: 1.5px;
	align-items: center;
    width: 50px;
    height: 50px;
  	border: none;
	border-radius: 15px;
	background: linear-gradient(145deg, #262828, #2d2f2f);
	box-shadow:  2.5px 2.5px 5px #262828, 
            	-2.5px -2.5px 5px #2e3030;

}

input {
	display: table;
	margin-left: 5px;
    height: 50px;
    width: 260px;
    border: none;
    border-radius: 5px;
    background-color: #e6e6e6;
}

.space {
	display: flex;
	justify-content: center;
	margin: 5px 5px 0 10px;
}

.space button {
	width: 265px;;
	border: none;
	border-radius: 48px;
	background: linear-gradient(145deg, #262828, #2d2f2f);
	box-shadow:  5px 5px 10px #262828, 
            	-5px -5px 10px #2e3030;
}

@media screen and (min-width: 2560px) {

		tr {
		display: table;
		margin-left: 1px;
	}

	input {
		margin-left: 3px;

	}

	.space button {
		width: 265px;
	}
}